<!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" ui-sref="app.dashboard">ARISBD</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li ng-if="profile.username.is_superuser" class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="javascript:void(0)" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div ng-repeat="user in users | orderBy: '-id' | limitTo: 3" class="notification-list">
                                        <div class="list-group">
                                            <a href="javascript:void(0)" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{{user.profile_photo}}" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">{{user.full_name}}</span>accepted our invitation to join the team.
                                                        <div class="notification-date">{{ user.date_created | date:'mediumDate' }}</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="javascript:void(0)">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="javascript:void(0)" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{profile.profile_photo}}" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{profile.full_name}}</h5>
                                    <span class="status"></span><span class="ml-2">Online</span>
                                </div>
                                <a class="dropdown-item" ui-sref="app.profile"><i class="fas fa-user mr-2"></i>Account</a>
                                <a ng-controller="loginController" ng-click="logout()" class="dropdown-item" href="javascript:void(0)"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" ui-sref="app.dashboard">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" ui-sref="app.dashboard"><i class="fas fa-sliders-h"></i> Dashboard</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="javascript:;" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-user"></i>Agent/Member</a>
                                 <div id="submenu-1" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" ui-sref="app.addAgentMember">Add New</a>
                                        </li>
                                        <li ng-if="profile.username.is_superuser" class="nav-item">
                                            <a class="nav-link" ui-sref="app.agent">List of Agent</a>
                                        </li>
                                        <li ng-if="profile.username.is_superuser" class="nav-item">
                                            <a class="nav-link" ui-sref="app.member">List of Member</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="app.product"><i class="fas fa-clipboard-list"></i>Add new Product</a>
                            </li>
                            <li ng-if="profile.username.is_superuser" class="nav-item ">
                                <a class="nav-link" ui-sref="app.user"><i class="fas fa-users mr-2"></i>Add new user</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-cog mr-2"></i>Settings</a>
                                <div id="submenu-5" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="">Edit profile</a>
                                        </li>
                                    </ul>
                                </div>
                                </li>
                                </ul>
                                </div>
                            </nav>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
<div ui-view="main-pane"></div>